.SideBar {
  float: left;
  padding-left: 15px;
  width: 30%;
  height: 100vh;
  overflow: hidden;
}

.SideBar p {
  width: 80%;
  height: 100%;
  margin: 0;
  padding: 15px;
  line-height: 35px;
  text-align: center;
  transform: translateY(100%);
  animation: scroll-up 10s linear infinite;
}

/*@keyframes scroll-up {
  0%   {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}*/
